*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: rgb(104, 25, 64);
}
body{
	background-color: rgb(104, 25, 64);
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:rgb(104, 25, 64); 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: rgb(104, 25, 64);
}
.navbar-brand{
font-size: 30px;	
}